{
  "presets": ["@babel/preset-react", ["@babel/env", { "modules": false }], "@babel/preset-flow", [ "minify", { "builtIns": false, "evaluate": false, "mangle": false} ]],
  "plugins": ["@babel/plugin-proposal-class-properties", "@babel/plugin-syntax-dynamic-import"]
}
