{
  "parser": "typescript",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "experimentalObjectRestSpread": true,
      "restParams": true,
      "forOf": true,
      "generators": true,
      "modules": false,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "default-case": 1,
    "eqeqeq": 1,
    "no-unused-expressions": [1, { "allowShortCircuit": true, "allowTernary": true }],
    "no-useless-return": 1,
    "no-unused-vars": 1,
    "no-undef": 1,
    "eol-last": [2, "always"],
    "lines-between-class-members": 1,
    "padding-line-between-statements": [
      1,
      { "blankLine": "always", "prev": ["block-like", "export", "function"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["block-like", "export", "function"] },
      { "blankLine": "any", "prev": ["export", "case", "default"], "next": ["export", "case", "default"] }
    ],
    "no-unneeded-ternary": 1,
    "strict": [2, "safe"],
    "prefer-spread": 1,
    "brace-style": [2, "1tbs", { "allowSingleLine": true }],
    "no-trailing-spaces": 2,
    "keyword-spacing": 2,
    "spaced-comment": [2, "always"],
    "vars-on-top": 2,
    "guard-for-in": 2,
    "no-eval": 2,
    "no-with": 2,
    "no-continue": 1,
    "prefer-const": 2,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-alert": 2,
    "react/prefer-es6-class": 1,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 1,
    "react/no-unescaped-entities": [1, { "forbid": [">", "}"] }]
  }
}

